{% extends "home.html" %}
{% load static %}

{% block content %}
{% block manager %}
{% block emp %}

<div class="emp">
    <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
        <b>Attendance Entry Form</b>
    </h4>

    <div style="margin-left: 50px;">
        <h5>
            My Attendance
        </h5> 
        <div class="box">
            <hr>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}  

        <form action="{% url 'AttFormView' %}" method="POST" class="post-form">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ attform1.attendance}}
                </div>
                <div class="col">
                    {{ attform1.fields.tdate.label_tag }}
                    {{ attform1.fields.tdate }}
                </div>
            </div>
            {% if juniors %}

            <h5 style="margin-top: 20px;">
                Junior's Attendance
            </h5> 
            <div class="box">
                <hr>
            </div>

            <table border='1' style="margin-left: 0;" class="table text-center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Full Day</th>
                    <th scope="col">Half Day</th>
                    <th scope="col">Overtime</th>
                    <th scope="col">Absent</th>
                </tr>
                </thead>
                <tbody  class="text-left">
                    {% for x in juniors %}
                    <tr class="text-center">
                        <td class="col-2 font-weight-bold">{{ x }}</td>     
                        {% for choice in attform2.fields.attendance.choices %}                   
                        <td><input type="radio" name="{{ x.id }}_attendance" value="{{ choice.0 }}" {% if form.initial.attendance == choice.0 %}checked{% endif %}></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                <div style="margin-top: 10px;">
                    <button type="submit" class="save btn btn-primary">Send Approval</button>
                </div>
            {% else %}
            <div style="margin-top: 10px;">
                <button type="submit" class="save btn btn-primary">Send Approval</button>
            </div>


            <div style="margin-left: 0px; margin-bottom: 50px;">
            <br>
            </div>   

            {% endif %} 

        </form>
    </div>
</div>

{% endblock %}
{% endblock %}
{% endblock %}