{% extends "home.html" %}
{% load static %}

{% block content %}
{% block manager %}

<div class="emp">
  <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
    <b>Client Entries</b>
  </h4>
</div>

{% if clientdata %}
<table border='1' style="margin-left: 200;" class="table text-center">
  <thead class="thead-dark">
    <tr>
        <!-- <th scope="col">Client ID</th>
        <th scope="col">Name</th>
        <th scope="col">Client Type</th>
        <th scope="col">Type of Business</th>
        <th scope="col">Preferred Contact Method</th>
        <th scope="col">Contact Details</th>
        <th width="15px">Address</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th> -->
        <th width="10px">Client ID</th>
        <th width="30px">Name</th>
        <th width="15px">Client Type</th>
        <!-- <th width="20px">Type of Business</th> -->
        <th width="10px">Preferred Contact Method</th>
        <th width="8px">Contact Details</th>
        <th width="15px">Address</th>
        <th width="15px">Additional Information</th>
        <th width="10px">Update</th>
        <th width="10px">Delete</th>
    </tr>
  </thead>
  <tbody>

    {% for x in clientdata %}
    <tr>
      <td>{{ x.cid }}</td>
      <td>{{ x.cfirstname }} {{ x.clastname }}</td>
      <td>{{ x.ctype }} ({{ x.typeob }})</td>
      <!-- <td></td> -->
      <td>{{ x.cpcm }}</td>
      <td>{{ x.cemail }}, {{ x.cphone }}</td>
      <td>{{ x.caddress }}</td>
      <td>{{ x.ainfo }}</td>
      <td>
        <a href="{% url 'CliUpdate' x.pk %}">
          <img src="{% static 'images/update1.png' %}" height="20" width="20" style="margin-top: 20px;">
        </a>
      </td>
      <td>
        <a href="{% url 'ClientDelete' x.pk %}">
          <img src="{% static 'images/delete.png' %}" height="20" width="20" style="margin-top: 20px;">
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>

  </table>
  {% else %}
  <div style="margin-left: 200px; margin-bottom: 0px; font-size: 18px;">
    <br>
      No data available!
      <br><br>
  </div>

{% endif %}
<div style="margin-left: 200px; margin-bottom: 0px;">
  Want to add a client?
  <a href="{% url 'ClientForm' %}" class="btn btn-outline-primary btn-sm">Add Client</a>
</div>
{% endblock %}
{% endblock %}


{% block emp %}
<div class="emp">
  <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
    <b>Client Entries</b>
  </h4>
</div>

{% if clientdata %}
<table border='1' style="margin-left: 200;" class="table text-center">
  <thead class="thead-dark">
    <tr>
        <!-- <th scope="col">Client ID</th>
        <th scope="col">Name</th>
        <th scope="col">Client Type</th>
        <th scope="col">Type of Business</th>
        <th scope="col">Preferred Contact Method</th>
        <th scope="col">Contact Details</th>
        <th width="15px">Address</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th> -->
        <th width="10px">Client ID</th>
        <th width="30px">Name</th>
        <th width="15px">Client Type</th>
        <!-- <th width="20px">Type of Business</th> -->
        <th width="10px">Preferred Contact Method</th>
        <th width="8px">Contact Details</th>
        <th width="15px">Address</th>
        <th width="15px">Additional Information</th>
    </tr>
  </thead>
  <tbody>

    {% for x in clientdata %}
    <tr>
      <td>{{ x.cid }}</td>
      <td>{{ x.cfirstname }} {{ x.clastname }}</td>
      <td>{{ x.ctype }} ({{ x.typeob }})</td>
      <td>{{ x.cpcm }}</td>
      <td>{{ x.cemail }}, {{ x.cphone }}</td>
      <td>{{ x.caddress }}</td>
      <td>{{ x.ainfo }}</td>
    </tr>
  {% endfor %}
  </tbody>

  </table>
  {% else %}
  <div style="margin-left: 200px; margin-bottom: 0px; font-size: 18px;">
    <br>
      No data available!
      <br><br>
  </div>

{% endif %}
{% endblock %}