{% extends "home.html" %}

{% block content %}

<div class="emp">
    <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
        Company Details Form
    </h4>

    <div style="margin-left: 50px;">
        <h5>
            General Details
        </h5> 
        <div class="box">
            <hr>
        </div>

        <form method="POST" class="post-form" >
            {% csrf_token %}
            {{ compform1.as_p}}

            <h5>
                Additional Details
            </h5> 
            <div class="box">
                <hr>
            </div>

            {{ compform2.as_p}}
            <button type="submit" class="save btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock %}