{% extends "home.html" %}

{% block content %}
{% block manager %}
{% block emp %}

<div class="emp">
  <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
    Company Details
  </h4>

  {% if compdata %}
  <h5 style="margin: 50px 0px 20px 50px;">
    General Details
  </h5>


  <table style="margin-left: 55;" class="table">
    <!-- <thead class="thead-dark">
      <tr>
          <th scope="col">Client ID</th>
          <th scope="col">Client Type</th>
          <th scope="col">Type of Business</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Preferred Contact Method</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Additional Information</th>
      </tr>
    </thead> -->
    <tbody  class="text-left">
      {% for x in compdata %}
      <tr>
        <td class="col-2 font-weight-bold">Company Name</td>
        <td>{{ x.compname }}</td>
      </tr>
      <tr>
        <td class="col-2 font-weight-bold">Company Owner Name</td>
        <td>{{ x.oname }}</td>
      </tr>
      <tr>
        <td class="col-2 font-weight-bold">Email</td>
        <td>{{ x.compemail }}</td>
      </tr>
      <tr>
        <td class="col-2 font-weight-bold">Phone</td>
        <td>{{ x.compphone }}</td>
      </tr>
      <tr>
        <td class="col-2 font-weight-bold">Address</td>
        <td>{{ x.compaddress }}</td>
      </tr>
      {% endfor %}
    </tbody>

    </table>

    <h5 style="margin: 50px 0px 20px 50px;">
      Additional Details
    </h5> 

    <table style="margin-left: 55;" class="table">
      <tbody  class="text-left">
        {% for x in compdata %}  
        <tr>
          <td class="col-2 font-weight-bold">Leaves allowed per month</td>
          <td>{{ x.lapm }}</td>
        </tr>
        <tr>
          <td class="col-2 font-weight-bold">Paid Leaves given per month</td>
          <td>{{ x.plgm }}</td>
        </tr>
        <tr>
          <td class="col-2 font-weight-bold">Official Weekend Leaves</td>
          <td>{{ x.offleave }}</td>
        </tr>  
      {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
<div style="margin-left: 50px; margin-bottom: 50px; font-size: large;">
  <br>
    No data available!  
</div>
{% endif %}
{% endblock %}
<div style="margin-left: 50px; margin-bottom: 50px;">
  <br>
  Click here to add  
  <a href="{% url 'CompanyDetail' %}">Company's Details</a>.
</div>


{% endblock %}
{% endblock %}