{% extends "home.html" %}
{% load static %}

{% block content %}

<div class="emp">
  <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
    All Employee Entries
  </h4>
</div>

{% if empdata %}
<table border='1' style="margin-left: 200;" class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Bloodgroup</th>
      <th scope="col">Emergency Contact Name</th>
      <th scope="col">Emergency Contact Number</th>
      <th scope="col">Employee ID</th>
      <th scope="col">Date of Joining</th>
      <th scope="col">Department</th>
      <th scope="col">Designation</th>
      <th scope="col">Employment Type</th>
      <th scope="col">Salary</th>
      <th scope="col">Per</th>
      <!-- <th scope="col">Have Jr?</th> -->
    </tr>
  </thead>
  <tbody>
    {% for x in empdata %}
    <tr>
      <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
      <td>{{ x.email }}</td>
      <td>{{ x.phone }}</td>
      <td>{{ x.address }}</td>
      <td>{{ x.bloodgroup }}</td>
      <td>{{ x.econtactname }}</td>
      <td>{{ x.econtactphone }}</td>
      <td>{{ x.empid }}</td>
      <td>{{ x.doj }}</td>
      <td>{{ x.department }}</td>
      <td>{{ x.designation }}</td>
      <td>{{ x.emptype }}</td>
      <td>{{ x.salary }}</td>
      <td>{{ x.per }}</td>
      <!-- <td>{{ x.option }}</td> -->
    </tr>
    {% endfor %}
  </tbody>

  </table>

{% else %}
<div style="margin-left: 200px; margin-bottom: 50px; font-size: large;">
  <br>
    No data available!  
</div>
{% endif %}
<div style="margin-left: 200px; margin-bottom: 50px;">
  <br>
  Want to add an employee?
  <a href="{% url 'EmpForm' %}">Add Employee</a>
</div>
{% endblock %}