{% extends "home.html" %}
{% load static %}

{% block content %}
{% block manager %}

<div class="emp">
    <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
        <b>Update Project </b>"{{prj.prjtitle}}"
    </h4>

    <div style="margin-left: 50px;">
        <h5>
            Project Details
        </h5> 
        <div class="box">
            <hr>
        </div>

        <form action="{% url 'PrjUpdate' prj.pk %}" method="POST" class="post-form" >
            {% csrf_token %}
            {{ prjform1.as_p}}
            <br>
            <h5>
                Assigned Staff Details
            </h5> 
            <div class="box">
                <hr>
            </div>

            {{ prjform2.as_p}}
            <button type="submit" class="save btn btn-primary">Update</button>
        </form>
    </div>
</div>

{% endblock %}
{% endblock %}