{% extends "home.html" %}
{% load static %}

{% block content %}
{% block manager %}
{% block emp %}

<div class="emp">
  <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
    Project Entries
  </h4>
</div>

{% if prjdata %}
<table border='1' style="margin-left: 200;" class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Client</th>
      <th scope="col">Prjoect Title</th>
      <th scope="col">Site Location</th>
      <th scope="col">Starting Date</th>
      <th scope="col">Region</th>
      <th scope="col">Description</th>
      <th scope="col">Project Head</th>
      <th scope="col">Region Head</th>
      <th scope="col">Site Head</th>
      <th scope="col">Update Record</th>
      <th scope="col">Delete Record</th>
    </tr>
  </thead>
  <tbody>
    {% for x in prjdata %}
    <tr>
      <td>{{ x.client }}</td>
      <td>{{ x.prjtitle }}</td>
      <td>{{ x.siteloc }}</td>
      <td>{{ x.startdt }}</td>
      <td>{{ x.region }}</td>
      <td>{{ x.description }}</td>
      <td>{{ x.prjhead }}</td>
      <td>{{ x.regionhead }}</td>
      <td>{{ x.sitehead }}</td>
      <td><a href="{% url 'PrjUpdate' x.pk %}" class="btn btn-outline-success btn-sm">Update</a></td>
      <td><a href="{% url 'ProjectDelete' x.pk %}" class="btn btn-outline-danger btn-sm">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>

  </table>
{% else %}
  <div style="margin-left: 200px; margin-bottom: 0px; font-size: large;">
    <br>
      No data available!  <br><br>
  </div>
  <!-- <div style="margin-left: 200px; margin-bottom: 50px;">
    <br>
    Want to add a project?
    <a href="{% url 'ProjectForm' %}">Add Project</a>
  </div> -->
{% endif %}
{% endblock %}
<div style="margin-left: 200px; margin-bottom: 0px;">
  Want to add a project?
  <a href="{% url 'ProjectForm' %}" class="btn btn-outline-primary btn-sm">Add Project</a>
</div>
{% endblock %}
{% endblock %}