{% extends "home.html" %}
{% load static %}

{% block content %}
{% block emp %}
{% block manager %}

<div class="emp">
  <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
    <b>List of Juniors</b>
  </h4>

  <!-- <h5 style="margin: 50px 0px 20px 50px;">
    Additional Details
  </h5>  -->
  
  {% if mapdata %}
  <table style="margin-left: 50;" class="table">
    <tbody  class="text-left">
      <tr>
        <td><b>Number of juniors: {{ num_juniors }}</b></td>
      </tr>
      {% for x in mapdata %}  
      <tr>
        <td>{{ x.junior }}
        <a href="{% url 'MapDelete' x.pk %}" style="margin-left: 100px; margin-right: 100px;">
          <img src="{% static 'images/delete.png' %}" height="20" width="20">
        </a>
      </td>
      </tr>
      {% endfor %}

      <tr>
        <td>
          <a href="{% url 'AttFormView' %}" class="btn btn-outline-primary btn-sm">Add Attendance</a>
        </td>
      </tr>
    </tbody>
  </table>

<div style="margin-left: 50px; margin-bottom: 50px;">
  <br>
</div>
{% else %}
<div style="margin-left: 50px; margin-bottom: 0px; font-size: large;">
  <br>
    You haven't selected your juniors yet!! <br><br>
</div>
<div style="margin-left: 50px; margin-bottom: 50px;">
  <a href="{% url 'SrjrMapFormView' %}" class="btn btn-outline-primary btn-sm">Select Juniors</a>
</div>
{% endif %}

{% endblock %}
{% endblock %}
{% endblock %}