{% extends "home.html" %}
{% load static %}


{% block content %}
{% block emp %}
{% block manager %}

<div class="emp">
    <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
        Senior-Junior Mapping Form
    </h4>
{% if empdata %}


    <div style="margin-left: 50px;">
        <form action="{% url 'SrjrMapFormView' %}" method="POST" class="post-form" >
            {% csrf_token %}
            {{ form.as_p}}

            <button type="submit" class="save btn btn-primary">Save</button>
            <!-- <br><br>
            Employee is missing in the list?
            <a href="{% url 'EmpForm' %}">Add Employee</a> -->
        </form>
    </div>
</div>
{% else %}
<div style="margin-left: 50px; margin-top: 0px; font-size: 18px;">
    <br>
      You don't have any employees to select as juniors!! <br><br>
      <a href="{% url 'EmpForm' %}" class="btn btn-outline-primary btn-sm">Add Employee</a>
</div>

{% endif %}
{% endblock %}
{% endblock %}
{% endblock %}