{% extends "home.html" %}
{% load static %}

{% block content %}
{% block manager %}
{% block emp %}

<div class="emp">
    <h4 style="text-align: left; margin: 50px 0px 50px 50px;">
        <img src="{% static 'images/user1.png' %}" width="100px" height="100px" style="margin-right: 15px;">
        Hello, {{user.first_name}} {{user.last_name}}! Welcome to your profile.
    </h4>
    {% if request.user.is_superuser %}
    <table style="margin-left: 55;" class="table">
        <tbody  class="text-left">
            <tr>
                <td class="col-2 font-weight-bold">ID:</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">First Name:</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Last Name:</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Email:</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <table style="margin-left: 55;" class="table">
        <tbody  class="text-left">
            <tr>
                <td class="col-2 font-weight-bold">ID:</td>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Name:</td>
                <td>{{ employee.firstname }} {{ employee.lastname }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Email:</td>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Phone:</td>
                <td>{{ employee.phone }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Address:</td>
                <td>{{ employee.address }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Bloodgroup:</td>
                <td>{{ employee.bloodgroup }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Emergency Contact Name:</td>
                <td>{{ employee.econtactname }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Emergency Contact Number:</td>
                <td>{{ employee.econtactphone }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Date of Joining:</td>
                <td>{{ employee.doj }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Department:</td>
                <td>{{ employee.department }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Designation:</td>
                <td>{{ employee.designation }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Employment Type:</td>
                <td>{{ employee.emptype }}</td>
            </tr>
            <tr>
                <td class="col-2 font-weight-bold">Salary:</td>
                <td>{{ employee.salary }}/- per {{ employee.per }}</td>
            </tr>
    {% endif %}
</div>   
{% endblock %}
{% endblock %}
{% endblock %}