.new-line > ul > li {
  display: block;
}

a:hover{
  color: inherit;
}

li a{
  color: black;
  text-decoration: none;
}

.navbar{
  padding: 0.1rem;
}

.nav1 {
  /* background-color:rgb(222, 232, 242); */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav2 { 
  /* background-color: #e0cdfe; */
  padding: 0.1rem;
  position: fixed;
  top: 53px;
  left: 0;
  width: 120px;
  height: 100%;
  /* visibility: visible; */
  /* overflow-y: scroll; */
}

.emp{
  margin-left: 150px;
  margin-top: 100px;
}

.nav-item{
  position: relative;
}

.list:hover{
  /* background-color: #d4bcfd; */
  background-color: #8ec0fd;
  text-decoration: none;
}

.nav-link{
  margin: 10px 0 10px 0;
}

.side-modal{
  text-align: left;
  display: none;
  top: 0;
  height: 110px;
  width: 170px;
  left: 100%;
  position: absolute;
  /* background-color: #d4bcfd; */
  background-color: #8ec0fd;
}

.box{
  /*margin-left: 50px;*/
  text-align: left;
}

hr{
  width: 80%;
  border-width: 1px;
  margin: 20px 0 30px 0;
  border-color: #807e7e;
}

.nav-item:hover > .side-modal{
  display: block;
}

.sm1:hover{
  /* background-color: #c9abfc; */
  background-color: #8ec0fd;
}

table{
  font-size: 15px;
}

.er{
  color: red;
}